/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
@deprecated
* use z-index.ts values
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.groupIconWrapper--OSeY3Q_kAF {
  -ms-flex-align: center;
      align-items: center;
  background-color: #0e6476;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 36px;
  width: 36px;
}

/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
@deprecated
* use z-index.ts values
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.textarea--Ix1kh7fRYF {
  background-color: transparent;
  border: none;
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  font-size: 16px;
  font-family: 'Public Sans', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  line-height: 20px;
  padding: 10px 0px;
  resize: none;
  overflow-y: auto;
  width: 100%;
}
.textarea--Ix1kh7fRYF:focus {
  outline: none;
  border: none;
}
/* stylelint-disable selector-no-vendor-prefix */
.textarea--Ix1kh7fRYF::placeholder,
.textarea--Ix1kh7fRYF::-moz-placeholder {
  color: #615b57;
  opacity: 1;
}
.markdown--ARo1hBXSLa {
  padding-top: 10px;
}
.markdown--ARo1hBXSLa h1 {
  font-size: 24px;
}
.markdown--ARo1hBXSLa h2 {
  font-size: 22px;
}
.markdown--ARo1hBXSLa h3 {
  font-size: 18px;
}
.markdown--ARo1hBXSLa ul {
  list-style: inside;
}
.markdown--ARo1hBXSLa ol {
  list-style: inside;
  list-style-type: decimal;
}

.icon--eBGJiUqyZ5 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin-right: 24px;
  vertical-align: top;
  width: 16px;
}

/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
@deprecated
* use z-index.ts values
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.container--nIJjYvifKn {
  position: relative;
  left: 10px;
  width: 17px;
  height: 17px;
}
.tooltipContainer--Yos9HnS8si {
  position: absolute;
  left: -15px;
  bottom: 35px;
  width: 312px;
  width: -moz-max-content;
  width: max-content;
  background-color: #615b57;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Public Sans', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: baseline;
      align-items: baseline;
  padding: 8px 8px 2px 8px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 300ms ease;
}
.tooltipDisplayed--ibyWhutbpT {
  visibility: visible;
  opacity: 1;
}
.triangle--n9NwQgxSAc {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 7px solid #615b57;
  position: relative;
  top: 8px;
  left: 8px;
}
.iconContainer--Qd32ya5v0T {
  display: inline-block;
  width: 17px;
  height: 17px;
}
.iconContainer--Qd32ya5v0T .tooltip-modern-icon-stroke {
  stroke: #ffffff;
}
.iconContainer--Qd32ya5v0T .tooltip-modern-icon-fill {
  fill: #ffffff;
}

