:root {

  /* General purpose variables */
}

.appear--ZMpWPDe2E7 {
  right: calc(640px * -1);
}

.appearActive--eTdu0AGVU8 {
  transition: right 200ms
    linear;
  right: 0;
}

.enter--WCLCoWHoCw {
  right: calc(640px * -1);
}

.enterActive--pGck5fAMGK {
  right: 0px;
  transition: right 200ms
    linear;
}

.exit--yeaIGuZFq2 {
  right: 0px;
}

.exitActive--DC1sVYha6Q {
  transition: right 200ms
    linear;
  right: calc(640px * -1);
}

/*
@deprecated
* use z-index.ts values
* Refer to z-index variables & values used in ui-components before updating this file.
*/

:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}

:root {

  /* General purpose variables */
}

.container--Tp_HU_mHY8 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 103;
  width: 640px;
  max-width: 80vw;
  outline: none;
  height: 100vh;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
}

.parentSlider--NLHdZC0WwL {
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(640px * -1);
  transition: right 200ms
    linear;
}

.parentSliderOpen--qGogfteLyT {
  right: 0;
}

/*
 * Custom @font-face rules are injected as a style element by
 * <AppThemeProvider /> and rely on the @dashlane/fonts dependency.
 */
:root {
  /* Font family variables */

  /* Password Specific Styles */

  /* Font size variables */

  /* Font weight variables */

  /* Line heights variables */
}
/*
@deprecated
* use z-index.ts values
* Refer to z-index variables & values used in ui-components before updating this file.
*/
:root {
  /* 1. Base z-index, to be used for most content elements that require a z-index. */
  /* 2. "Below" z-index, to be used when placing an element "below" another within the stacking context. */

  /* 3. Various previous "Content Overlap" z-index values, can be merged with caution. */

  /* 4. Panel z-index. */

  /* 5. "Above Panel" z-index. */

  /*
  * All variables from here refer to previously hardcoded z-index values.
  */

  /* Base z-index, see 1, keep sorted to reduce merge conflicts */

  /* "Content Overlap" z-index, see 3. */

  /* Looks unused ? */

  /* Panel z-index, see 4. */

  /* "Above Panel" z-index, see 5. */
}
.overlay--duBJmhTNdo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.4;
  z-index: 103;
}

